body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color:aqua;
    background-color: black;
}

.grid {
    width: 200px;
    height: 200px;
    border: 3px solid aqua;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

